.chat {
  display: flex;
  flex-direction: column;
  min-width: 17rem;
  width: 100%;
  min-height: 15rem;
  height: 100%;
  max-height: 60vh;
  border-radius: 4px;
}

.chat__section {
  &--column-reverse {
    display: flex;
    flex-direction: column-reverse;
    min-height: 15rem;
    height: 100%;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: unset;
    background: #FEFEFE;
    border: 1px solid #EEE;
    border-radius: .25em;
    box-shadow: .1em .1em .5em rgba(0, 0, 0, .45);
    padding: 0.5rem;
    margin-bottom: 1rem;
   
  }
  &--output {
    //display: flex;
    flex-direction: column;
   
  }
  &--input {
    display: flex;
    width: 100%;
  }
}

.chat__field {
  &--input {
    flex: 1 0 70%;
    border: none;
    border-radius: 25px;
    background: rgb(240, 242, 245);
    padding: 1rem;
    padding-left: 0.75rem;
    font-size: 16px;
    border: 2px solid transparent;
    &:focus {
      outline: none;
      border: 2px solid rgb(230, 232, 235);
      &::placeholder {
        color: #AAAAAA;
      }
    }
    &.with-error {
      border: 2px solid #ec777779;
      color: #ec7777;
    }
  }
  &--submit {
    flex: 0 0 10%;
    height: 100%;
    input {
      margin-left: 10px;
      height: 2.5rem;
      border: none;
      border-radius: 25px;
      background: #b491c8;
      color: white;
      &:hover {
        background: #663a82;
      }
    }
  }
}

.chat__output {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
  background: #eee;
  padding: 1rem 0;
  border-radius: 14px;
  width: 100%;
  &--other-user {
    align-self: flex-start;
    border-top-left-radius: 0;
  }
  &--current-user {
    align-self: flex-end;
    border-top-right-radius: 0;
  }
  &--code {
    font-family: 'Hasklig', 'SourceSans Pro', 'Courier New', Courier, monospace;
    background: #ddd3ee;
    width: fit-content;
    padding: 0.9rem 1rem;
    border-radius: 14px;
    text-align: right;
    :before{content:"\"";};
    :after{content:"\"";};
  }
}

.chat__output--text {
  padding: 0 0.5rem;
}

.fa-tag {
  font-weight: 200;
}