.chat {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  border: 2px solid #333;
  border-radius: 4px;
}

.chat__section {
  &--column-reverse {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    overflow-y: scroll;
    overflow-x: unset;
  }
  &--output {
    display: flex;
    flex-direction: column;;
    background: #fff;
    padding: 0.5rem;
  }
  &--input {
    display: flex;
    width: 100%;
    border-top: 2px solid #333;
  }
}

.chat__field {
  &--input {
    flex: 1 0 70%;
    border: none;
  }
  &--submit {
    flex: 0 0 10%;
    height: 100%;
    border-left: 2px solid #333;
    input {
      height: 100%;
      border: none;
      background: #b491c8;
      color: white;
      &:hover {
        background: #663a82;
      }
    }
  }
}

.chat__output {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
  background: #eee;
  padding: 1rem 0;
  border-radius: 14px;
  &--other-user {
    align-self: flex-start;
    border-top-left-radius: 0;
  }
  &--current-user {
    align-self: flex-end;
    border-top-right-radius: 0;
  }
  &--code {
    background: #ddd3ee;
    width: fit-content;
    padding: 0.3rem 1rem;
    border-radius: 14px;
    :before{content:"\"";};
    :after{content:"\"";};
  }
}

.chat__output--text {
  padding: 0 0.5rem;
}

.fa-tag {
  font-weight: 200;
}