.flex {
  display: flex;
  &.space-between { justify-content: space-between; }
  &.column {flex-direction: column;}
}

.full { width: 100%; }
.half { width: 50%; }
.quarter { width: 25%; }

.two-thirds { width: 66%; }
.third { width: 33%; }
