.program-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
}

.chat-sidebar {
  position: fixed;
  right: 0;

  background: white;
  border: 1px solid #c3c3c3;
  border-top: none;

  max-width: 50vw;
  width: 34vw;
  min-width: 270px;
  height: calc(100vh - 4.35rem);
  z-index: 1;
}

.output-content {
  display: flex;
  width: 66vw;
  height: 20rem;

  &.column {
    flex-direction: column;
    height: 100%;
  }
}

.chat-sidebar, .output-content {
  &.scrollable {
    overflow-y: scroll; 
  }
}


.code-section {
  &.source {
    flex: 1 1 80%;
    overflow-y: scroll;
    border-bottom: 1px solid #c3c3c3;
  }
  &.output {
    flex: 1 1 10rem;
    overflow-y: scroll;
  }
}

.program-code {
  height: 100%;
  width: 100%;
  background: #FEFEFE;
  line-height: 0;
  counter-reset: line;
  
  &.scrollable { overflow-x: scroll; }
  h4 {
    border-bottom: 1px solid #CCC;
    padding: 8px 0px;
    margin: 0;
  }

  span.line {
    display: block;
    line-height: 1.5rem;

    &:before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 .5em;
      margin-right: .5em;
      color: #888;
      text-align: end;
      width: 1.22em;
    }
  }

  span.present-line {
    background: #eee;
  }

  span.error-line {
    background: #ec777779;
  }

  span.space, span.newline {
    color: #888;
  }
}

.addition-field {
  display: flex;
  align-items: flex-start;
}

.admin {
  .flex {
    align-items: center;
  }
  label {
    font-size: 18px;
    font-weight: bold;
  }

  input[type="number"] {
    padding: 0.61rem 1rem;
    margin: 1rem;
    font-size: 18px;
    font-weight: bold;
    width: 3rem;
  }
  .button input {
    display: inline-block;
    padding: 0.61rem 1rem;
    margin: 1rem;
    background:#b491c8;
    font-size: 16px;
    font-weight: bold;

    border-radius: 5px;
    border: none;
    box-shadow: .1em .1em .25em rgba(0, 0, 0, .45);

    &:disabled {
      background:#c2adce;
      box-shadow: .1em .1em .1em rgba(0, 0, 0, .45);
      &:hover {
        cursor: not-allowed;
        background:#c2adce;
        box-shadow: .1em .1em .1em rgba(0, 0, 0, .45);
      }
    }

    &:hover {
      background:#ae7bcc;
      box-shadow: .1em .1em .5em rgba(0, 0, 0, .45);
    }
  }
}
