.program-container {
  display: flex;
  flex-wrap: wrap;
}

.program-content {
  display: flex;

  &.column {
    flex-direction: column;
  }
}

.program-code {
  overflow-x: scroll;
  min-height: 10rem;
  width: 40rem;
  background: #FEFEFE;
  border: 1px solid #EEE;
  border-radius: .25em;
  box-shadow: .1em .1em .5em rgba(0, 0, 0, .45);
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-family: 'Hasklig', 'SourceSans Pro', 'Courier New', Courier, monospace;
  line-height: 0;
  counter-reset: line;

  span.line {
    display: block;
    line-height: 1.5rem;

    &:before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 .5em;
      margin-right: .5em;
      color: #888;
      text-align: end;
      width: 1.22em;
    }
  }

  span.present-line {
    background: #eee;
  }
}


.addition-field {
  display: flex;
  align-items: flex-start;
}

.paused {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #3A3A3A;
  opacity: 0.5;
  cursor: not-allowed;
}