.program-code {

  span.identifier {
    font-weight: bold;
    color: maroon;
  }

  span.operator {
    color: goldenrod;
  }

  span.symbol {
    color: mediumvioletred;
  }

  span.string {
    color: green;
  }

}
