.vote-section {
  border-radius: 4px;
  padding: 0.5rem;
  width: 15rem;
}

.vote-title {
  margin: 0;
}

.vote-list {
  margin: 0;
  padding: 0;
}

.vote-item {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}